

.banner{
     background-image: url(images/banner/banner1.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-color:grey;
     height: 950px;
    
     
 } 

 .bannner-info{

    text-align: right;
    margin-top: 250px;
    margin-right: 250px;
 }
 
 .banner-div{

    
    display: flex;
    justify-content: end;
    
    
 }
 
 .header{
   
     
     font-weight: 700;
     font-size: 50px;
     font-family:'Lucida Sans', 'Lucida Sans Regular',
      'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 
 }
 
 .header-discription{
    
     
     font-weight: 400;
     font-size: 16px;
     line-height: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 
 
 }
  
 .button{
 
     height: 40px;
     background-color: #fd6e0a;
     color: #e8e6e4;
     font-weight: 700;
     font-size: 15px;
     line-height: 0px; 
     border: 0;
     border-radius: 5%;
     padding: 10px 15px;
 }
 
 .first p,img{
 
     margin-left: 5%;
     margin-right: 0;
     
    
 }
 
 .first{
     background-image: url(images/aaaaaaaaa.png);
     background-position: 15% 70% ;
     background-repeat: no-repeat;
     background-size: 34%;
     margin-left: 10%;
 }
 
 #display{
     display: flex;
 }
 
 .header2{
 
     
     padding-top: 30%;
     font-weight: 700;
     font-size: 50px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 
 
 }
 
 .header2-discription{
 
     font-weight: 400px;
     font-size: 16px;
     line-height: 20px;
     display:contents;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: #444343;
     margin-bottom: 5%;
 
 
 }
 
 .header2-list{
     
     font-size: 16px;
     line-height: 35px;
     margin-right: 50%;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: #444343;
    
 
 
 }
 
 .icon-color{
 
     color: #6fd00f;    

 }
 
 
 /* My planes */
 
 h3{
 
     text-align: center;
     margin-top: 15%;
     font-weight: 700;
     font-size: 60px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 
 }
 

 .Icon{
    justify-content: space-evenly; 
    display: flex;
    gap: 0%;
    margin-top: 5%;
    margin-bottom: 10%;
 }



 .icon-d{
text-align: center;

 }
 
 .caption1{
    font-weight: 700;
font-size: 25px;
    
 
 }
 
 .caption2{
    font-weight: 500;
font-size: 20px;
 
 
 }
 .Blend{
     background-image: linear-gradient(90deg, #ef7646 0%, rgba(241, 91, 34, 0) 80%),url(images/watch.png);
     /* background-size: 70%; */
     background-repeat: no-repeat;
     margin-left:15%;
     margin-bottom: 10%;
     height: 250px;
     border-radius: 8px;
 }
 
 .Blend p{
 
     padding-left: 5%;
     padding-top: 3%; 
     line-height: 90%;
     font-family: 'Work Sans';
     font-weight: 700;
     font-size: 40px;
     color: #FFFFFF;  
     }
 
  .Blend button{
     margin-left:5%;
     width: 130px;
     height: 40px;
     background-color: #ffffff;
     color: #e17204;
     font-weight: 700;
     font-size: 15px;
     border: 0;
     border-radius: 5%;
  }    








  .get-my-update{
    margin-top: 90px;
    margin-bottom: 50px;
}
.update-text{
    text-align: center;
}
.update-text h1{
    font-size: 40px;
}
.update-text p{
    font-size: 20px;
}
.mail-box{
    text-align: center;
    padding: 60px 60px;
    width: 50%;
    margin-left: 350px;
    background-color: rgba(247, 220, 188, 0.727);
}
.mail-button{
    font-size: 16px;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
}
#subscribe{
    background-color:rgba(245, 84, 76, 0.847) ;
    color: antiquewhite;
}
#mail{
    background-color: rgb(222, 217, 217);
    color:black;
}










 /* Footer */

 .bg{
    background-color:black;
    /* max-height:max-content; */
    height: 500px;

 }

 .Footer{
    display: flex;

}

.Future {
    margin-left: 70px;
    margin-top: 50px;
    color: #FFFFFF;
}

.Subscribe{
    margin-left: 600px;
    margin-top: 50px;
}

.future , .Future-tag , .Future-Dis , .connect{
    margin-left: 70px;
}
.Future-tag {
    font-weight: 400;
    font-size: 30px;
    line-height: 26px;
}


.Subscribe-tag{
    color: #ffffff;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Work Sans';
}

.Subscribe input{
    padding: 20px 30px;
    border-radius: 8PX;
}
.Subscribe-button{
     height: 40px;
     background-color: #f2f1f1;
     color: #ed7d0c;
     font-weight: 700;
     font-size: 15px;
     line-height: 0px; 
     border: 0;
     padding: 20px 20px;  
     border-radius: 5PX;
     margin-top: 10px;

}
.icon-a{
display: flex;
margin-left: 60px;
gap: 10px;

}

 





